body {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --background-color: #fcf4ec;
  --form-color1: #916cf9;
  --form-color2: #7a90f7;
  --colorbutton: #414280;
  --text: #f4f4ed;
  --sm: 14px;
  --lg: 18px;
  --font: "Quicksand", sans-serif;
}

.container {
  background-color: var(--background-color);
  display: grid;
  place-items: center;

  width: 100%;
  height: 100vh;
}

.container-form {
  background-color: var(--form-color1);
  width: 450px;
  height: 550px;

  border-radius: 4px;
}

.form {
  display: grid;
  place-items: center;

  height: 90vh;
}

.username {
  display: flex;
  flex-wrap: wrap;

  width: 400px;

  font-family: var(--font);
}

.input-username {
  width: 400px;
  height: 60px;

  margin-top: 24px;

  border-radius: 4px;
  border: none;
}

.password {
  display: flex;
  flex-wrap: wrap;

  font-family: var(--font);

  width: 400px;
}

.input-password {
  width: 400px;
  height: 60px;

  margin-top: 24px;

  border-radius: 4px;
  border: none;
}

.login {
  width: 410px;

  padding-left: 14px;
}

img {
  width: 30px;
  height: 20px;
}

label {
  color: var(--text);
}

.button-login {
  width: 400px;
  height: 52px;

  border-radius: 4px;
  border: none;

  font-family: var(--font);
  font-size: var(--lg);
  font-weight: bold;
  color: var(--text);

  background-color: var(--colorbutton);
}
